/*
  COLOURS
*/

// Base Colours
$clr-white:      #ffffff;
$clr-black:      #000000;
$clr-pink:        hotpink;
$clr-orange:      orange;
$clr-green:       green;
$clr-grey:        grey;


//Brand COLOURS
$nav-grey:        #444;
$nav-bg-grey:     #333;
$nav-text-grey:   #666;
