/*
  COLOURS
*/

// Base Colours
$clr-white:      #fff;
$clr-black:      #000;
$clr-pink:       hotpink;
$clr-orange:     #ffa500;
$clr-green:      #32CD32;
$clr-grey:       #999;
$clr-dk-gr-str:  #3e4249;

//Brand COLOURS
$nav-grey:       #444;
$nav-bg-grey:    #333;
$nav-text-grey:  #666;

$link-pink:      #ff41ff;

$border-grey:    #999;
