/*
  FONTS
*/

// Default font stacks
$f-arial: Arial, sans-serif;
$f-helvetica: "Helvetica Neue", Helvetica, $f-arial;

// Custom googlefonts font stack
$f-arvo: 'Arvo', serif;
$f-josefin: 'Josefin Sans', sans-serif;
