<section class="about">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-md-6 col-lg-7">
				<div class="row">
					<div class="col-lg-8">
						<h2>//About</h2>
						<p class="lead">Liz Verde<small> Junior Web Developer</small></p>
					</div><!-- end col -->
					<div class="col-lg-4">
						<a href="https://github.com/lizagne" class="badge social github" target="_blank"><i class="fa fa-github"></i></a>
						<a href="https://codepen.io/lizagne" class="badge social codepen" target="_blank"><i class="fa fa-codepen"></i></a>
						<a href="https://instagram.com/ziz_draws_too" class="badge social instagram" target="_blank"><i class="fa fa-instagram"></i></a>
						<a href="https://twitter.com/ziz_draws_too" class="badge social twitter" target="_blank"><i class="fa fa-twitter"></i></a>
					</div><!-- end col -->
				</div><!-- row -->

				<p class="lead">I am passionate about learning new technologies that further my understanding of all things web.</p><p>
				</p><p>My background is in Graphic Design and Art, and having worked alongside Developers, I felt for a while that coding was something I wanted to learn. This year I worked at Dyson helping to put together their new website. I met developers who had studied through Bootcamps and I started to research; my role at Dyson was limited and I could see that the developers there were having all the fun. </p>
				<p>Since starting my journey with DevelopMe_, I've become addicted to improving my skills. It's been a huge challenge but I know it's for me as I've spent virtually every day practicing and learning new technologies. I particularly enjoy creating apps in React and React Native, even though Redux is such a challenge, I'm determined to perfect it. I also love developing with Wordpress and Drupal, as it brings together a lot of my knowledge and makes me feel like a real developer.</p>
				<hr>
			</div><!-- end col -->
		</div><!-- row -->
	</div><!-- container -->
</section>
