<section class="codepen">
  <div class="container">
  	<div class="row">
  		<div class="col-sm-8 col-sm-offset-2 codepen-text">
  			<a href="https://codepen.io/lizagne" target="_blank">
  			<h2>//View my pens on Codepen</h2>
  			<p>In November, I participated in Codevember; a challenge for developers making a creative digital sketch each day during the month of November. Inspired by Inktober, which I'd participated in the previous 2 years, as an Artist. I decided to take on this challenge on Codepen. It was a great opportunity to learn new things like CSS Animations and HTML canvas, as well as practice my JavaScript skills. I kept it going until my brain was fried by React and Redux!</p></a>

  			<p><a href="https://codepen.io/lizagne" class="badge social codepen" target="_blank"><i class="fa fa-codepen"></i></a></p>
  		</div><!-- end col -->

  	</div><!-- row -->
  </div><!-- container -->
</section>
