<section class="codepen">
  <div class="container clearfix">
  	<div class="g-wrap">
  		<div class="g-col g-text-center gtw-push-1-4 gtw-col-1-2 codepen__bg">
  			<a href="https://codepen.io/lizagne" target="_blank">
  			<h2>{{ codepen_title }}</h2>
  			<p>{{ codepen_para }}</p>
        </a>

  			<p><a href="https://codepen.io/lizagne" class="badge social codepen" target="_blank"><i class="fa fa-codepen"></i></a></p>
  		</div><!-- end col -->

  	</div><!-- row -->
  </div><!-- container -->
</section>
