<section class="hero" data-type="background" data-speed="10" style="background-position: 50% 0px;">

	<div class="container clearfix">

		<div class="g-wrap">
      <!-- above is a wrapper like row in Bootstrap, to make columns work (eg g-wrap--flex)-->

			<div class="hero__col">
			   <img src="liz-profile.jpg" alt="Liz Verde, Junior Web Developer" class="logo">
      </div><!-- col -->

  		<div class="hero__col g-col gtw-col-1-2 gtw-push-1-2 g-text-center">
    		<h1>//Junior Web Developer</h1>
            <p class="lead">This year, I made the decision to learn to code – I left my Art and Design studio behind and took on a 3-month, intensive, Bootcamp course; <a class="text-links" href="https://developme.training/fellowship/">The Coding Fellowship at DevelopMe_ in Bristol.</a></p>
            <p>I made this website from scratch using Bootstrap for efficiency, then converted it to a Wordpress template using <a class="text-links" href="http://underscores.me/">Underscores</a> theme. This helped me feel even more confident with Wordpress development, bringing together HTML, CSS, PHP, JS and JQuery.</p>
            <p><a href="#about" class="btn btn-lg btn-danger" role="button">//Find out more »</a></p>
  		</div><!-- col -->

		</div><!-- row -->

	</div><!-- container -->

</section>
