<section class="projects">
		<div class="projects__container">
			<h2>//My Project Highlights</h2>
			<p class="lead">Here are some of the projects I worked on whilst studying at <a href="https://developme.training/" target="_blank">DevelopMe_</a>.</p>

			<div class="projects__row">
				<div class="projects__row__col-4">
					<div class="projects__row__col-4__container">
  						<a href="https://github.com/lizagne/film-guide-app" target="_blank">
  							<img src="/wp-content/themes/underscoresTheme/assets/img/film-react-native-app.jpg" alt="React Native App" class="image">


							<!-- <div class="overlay">
								<div class="img-text">View code and demo gif on GitHub</div>
							</div> -->
						</a>
					</div>
					<h3>//React Native<br><small>Christmas Films &amp; BBC news</small></h3>
					<p>Skills: Expo Client, Xcode Simulator, React Native elements, external APIs, linking internally and externally, stylesheets, Redux.</p>
					<p><i class="fa fa-github" aria-hidden="true"></i><a href="https://github.com/lizagne/film-guide-app" target="_blank"> Christmas Film Finder App on GitHub</a></p>
					<p><i class="fa fa-github" aria-hidden="true"></i><a href="https://github.com/lizagne/react-native-news-app" target="_blank"> BBC News App on GitHub</a></p>
				</div><!-- col -->

				<div class="projects__row__col-4">
					<div class="projects__row__col-4__container">
  						<a href="http://lizagne.uk/ftbll-tm-rndmsr/" target="_blank">
  							<img src="/wp-content/themes/underscoresTheme/assets/img/ftbll-tm-rndmsr.png" alt="React and Redux project" class="image">
							<!-- <div class="overlay">
								<div class="img-text">View project online</div>
							</div> -->
						</a>
					</div>
					<h3>//React &amp; Redux <small>Ftbll Tm Rndmsr</small></h3>
					<p>Skills: JS, React and Redux, lodash, refactoring, HTML, SASS, gulp, CSS animations, form validation.</p>
					<p><i class="fa fa-external-link" aria-hidden="true"></i><a href="http://lizagne.uk/ftbll-tm-rndmsr/" target="_blank">Ftbll Tm Rndmzr online</a></p>
					<p><i class="fa fa-github" aria-hidden="true"></i><a href="https://github.com/lizagne/football-team-picker-project" target="_blank">View on Github</a></p>
				</div><!-- col -->

				<div class="projects__row__col-4">
					<a href="http://lizagne.uk/jsa" target="_blank">
						<img src="/wp-content/themes/underscoresTheme/assets/img/jsa-wip.jpg" alt="JSA Wordpress Project" class="image">
					</a>
					<h3>//Wordpress<small> JSA &amp; Coole Surgery</small></h3>
					<p>JSA skills: Client interaction, Photoshop, Wireframing, PHP, FTP, Filezilla, MasonryJS, HTML, SASS, gulp, JQUERY, JS, responsive design.</p>
					<p>Coole skills: Client management, security and SEO management, Wordpress training, CPanel, PHPMyAdmin.</p>
					<p><i class="fa fa-external-link" aria-hidden="true"></i><a href="http://lizagne.uk/jsa" target="_blank">JSA (WIP) online</a></p>
					<p><i class="fa fa-external-link" aria-hidden="true"></i><a href="http://coolesurgery.ie/" target="_blank">Coole Surgery online</a></p>
				</div><!-- col -->

			</div>

			<div class="projects__row">
				<div class="projects__row__col">
					<div class="container1">
  						<a href="https://github.com/lizagne/react-redux-cryptotracker" target="_blank">
  							<img src="/wp-content/themes/underscoresTheme/assets/img/crypto-currency.png" alt="Cryptocurrency Tracker App" class="image">
							<!-- <div class="overlay">
								<div class="img-text">View code and demo gif on GitHub</div>
							</div> -->
						</a>
					</div>
					<h3>//React Native<br><small>Cryptocurrency Tracker App</small></h3>
					<p>Skills: External API's, Redux and React, React Native Stylesheets, Expo Client, JS logic.</p>
					<p><i class="fa fa-github" aria-hidden="true"></i><a href="https://github.com/lizagne/react-redux-cryptotracker" target="_blank"> Cryptocurrency Tracker App on GitHub</a></p>
				</div><!-- col -->

				<div class="col-sm-4">
					<div class="container1">
  						<a href="https://github.com/lizagne/video-player" target="_blank">
  							<img src="/wp-content/themes/underscoresTheme/assets/img/yourTube.png" alt="YourTube App" class="image">
							<!-- <div class="overlay">
								<div class="img-text">View code and demo gif on GitHub</div>
							</div> -->
						</a>
					</div>
					<h3>//React<small> YourTube</small><br>
						and Redux<small> Reduxtagram</small></h3>
					<p>React Skills: External API's, React, Lodash (debounce), Bootstrap.</p>
					<p>Redux Skills: JSON files, Routes.</p>
					<p><i class="fa fa-github" aria-hidden="true"></i><a href="https://github.com/lizagne/video-player" target="_blank">YourTube on GitHub</a>
					</p><p><i class="fa fa-github" aria-hidden="true"></i><a href="https://github.com/lizagne/reduxtagram" target="_blank">Reduxtagram on GitHub</a>
				</p></div><!-- col -->

				<div class="col-sm-4">
					<div class="container1">
  						<a href="https://build-yfgwqquydy.now.sh/" target="_blank">
  							<img src="/wp-content/themes/underscoresTheme/assets/img/rsvp-app.png" alt="RSVP App" class="image">
						<!-- <div class="overlay">
							<div class="img-text">View project online</div>
						</div> -->
						</a>
					</div>
					<h3>//React &amp; Redux <small>RSVP App</small></h3>
					<p>Skills practiced: PropTypes</p>
					<p><i class="fa fa-external-link" aria-hidden="true"></i><a href="https://build-yfgwqquydy.now.sh/" target="_blank">RSVP online</a></p>
					<p><i class="fa fa-github" aria-hidden="true"></i><a href="https://github.com/lizagne/RSVP-app" target="_blank">RSVP on GitHub</a></p>
				</div><!-- col -->

			</div><!-- row -->

		</div><!-- container -->

	</section>
