<section class="skills">
	<div class="container clearfix">
		<div class="skills__container g-wrap ">
			<div class="skills__header g-col g-text-center">
				<h2>{{ post.skills_title }}</h2>
			</div><!-- section-header -->

			{% if post.get_field('skills_grid')  %}
		 		{% for skill in post.get_field('skills_grid') %}
				<div class="g-col g-text-center gt-col-1-3">
					<h3>{{ skill.skills_sub_title }}</h3>
					<p>{{ skill.skills_list }}</p>
				</div><!-- end col -->
				{% endfor %}
			{% endif %}
		</div>
	</div>
</section>
