<section class="skills">
	<div class="container clearfix">
		<div class="skills__container g-wrap ">
			<div class="skills__header g-col g-text-center">
				<h2>//Skills, Programs &amp; Courses</h2>
			</div><!-- section-header -->

			<div class="g-col g-text-center gt-col-1-3">				<!-- <i class="fa fa-html5" ></i> -->
				<h3>//Intermediate</h3>
				<p>HTML 5 // CSS // SASS // Bootstrap</p>
				<p>Wordpress // Drupal</p>
				<p>Git // Github // Command Line // Node // Yarn/NPM </p>
				<p>Balsamiq // Sublime Text // Postman // MailChimp // Filezilla </p>
				<p>Photoshop // Illustrator // InDesign</p>
			</div><!-- end col -->

			<div class="g-col g-text-center gt-col-1-3">
				<!-- <i class="fa fa-css3" aria-hidden="true"></i> -->
				<h3>//Learning</h3>
				<p>JavaScript // JQuery // JSX </p>
				<p>React // React Native // Redux</p>
				<p>PHP // MySQL // Laravel</p>
				<p>Google, React and Redux Dev Tools</p>
			</div><!-- end col -->

			<div class="g-col g-text-center gt-col-1-3">
				<!-- <i class="fa fa-css3" aria-hidden="true"></i> -->
				<h3>//Courses</h3>
				<p>As well as the Bootcamp course, I further my learning online and by going to <a href="https://www.meetup.com/" target="_blank">'Meet Up' groups in tech </a>regularly.</p>
				<p> I have a subscription with Treehouse, have bought a few courses on Udemy, try to improve my score on Codewars and have completed lots of tutorials on Codecademy, Free Code Camp, Codeschool and YouTube.</p>
			</div><!-- end col -->
		</div><!-- row -->
	</div>	
</section>
