.about {
  padding: 5% 0%;
  background-color: $clr-white;
}

.about a {
  color: $clr-black;
}

.about p {
  font-size: 16px;
  font-weight: 200;
}

.about p.lead {
  font-size: 20px;
  font-weight: 500;
}
