.projects {
  padding: 5% 0%;
}

.projects a {
  color: $clr-black;
}

.projects img {
  border: 1px solid $border-grey;
  margin: 20px auto;
}

.projects p {
  font-size: 16px;
  font-weight: 200;
}

.projects p.lead {
  font-size: 20px;
  font-weight: 500;
}

//make all divs same min-height or flexbox
