{% extends "base.twig" %}

{% block content %}

<div class="content">
  <div class="container">

    this is my main content

    this is an example of how to bring in twig files
    <!-- {% include "includes/full.twig" %} -->

  </div>
</div>

{% endblock %}
