{% extends "base.twig" %}

{% block content %}

<div class="content">
    {% include "includes/hero.twig" %}
    {% include "includes/projects.twig" %}
    {% include "includes/skills.twig" %}
    {% include "includes/codepen.twig" %}
    {% include "includes/contact.twig" %}
</div>

{% endblock %}
